name: Update image tag from Harbor

on:
  repository_dispatch:
    types: [harbor-image-pushed]

jobs:
  update-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install yq
      run: |
        sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
        sudo chmod +x /usr/local/bin/yq

    - name: Extract image info from payload
      run: |
        echo '${{ toJson(github.event.client_payload) }}' > payload.json
        IMAGE=$(jq -r '.event_data.repository.repo_full_name' payload.json)
        TAG=$(jq -r '.event_data.resources[0].tag' payload.json)

        echo "IMAGE=$IMAGE" >> $GITHUB_ENV
        echo "TAG=$TAG" >> $GITHUB_ENV

    - name: Update deployment.yaml
      run: |
        yq e -i '.spec.template.spec.containers[0].image = "test.local:32061/'"$IMAGE:$TAG"'"' apps/rollback-test/deployment.yaml

    - name: Commit and push
      run: |
        git config user.name "gitops-bot"
        git config user.email "gitops-bot@github.com"
        git commit -am "Update image to $IMAGE:$TAG"
        git push
